.recipe-description {
  border: 5px solid var(--primary);
  border-radius: 2rem;
  display: block;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
}
.Add,
.Reset {
  width: 68px;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.Reset {
  background-color: var(--secondary);
}
.Add {
  background-color: var(--primary);
}
.Add-Recipe {
  background-color: var(--card);
  width: fit-content;
  border-radius: 7px;
  margin: 20px auto;
  padding: 10px 20px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* makes typing color blue header line */
input, textarea {
    color: var(--primary);
    border: 1px solid var(--muted);
    padding: 10px;
    border-radius: 8px;
    outline: none;
    caret-color: var(--primary);
}
