body{
    margin: 0px;
}
.header-for-list{
    background-color: rgb(57, 56, 56);
    color: white;
    width: fit-content;
    font-weight: bold;
    padding: 5px;
    margin: 5px auto;
    border-radius: 15px;
}
.my-fav-recipes {
    list-style-type: none;
    list-style-position: inside;
    padding: 0px;
}
.my-fav-recipes .recipe-container {
    background-color:var(--card);
    width:900px;
    margin: auto;
    border-radius: 7px;
    padding:5px ;
    margin-top: 7px;
}
.my-fav-recipes .recipe-container .recipe-title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}
.my-fav-recipes .recipe-container .recipe-title span{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.my-fav-recipes .recipe-container .recipe-title span pre{
    margin-right: 2px;
    color: var(--secondary);
}
.my-fav-recipes .recipe-container .recipe-title span .delete-recipe{
    padding: 0px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: red;
    text-align: center;
    line-height: 10px;
    font-size: 30px;
}
.my-fav-recipes .recipe-container .content-cont{
    display: none;
}
.my-fav-recipes .recipe-container:hover{
    box-shadow: 0px 0px 2px 2px var(--secondary);
}
.my-fav-recipes .recipe-container:hover .content-cont{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 900px;
}
.my-fav-recipes .recipe-container .content-cont pre{
    width: 400px;
    text-wrap: wrap;
}
.my-fav-recipes .recipe-container .content-cont pre::first-line{
    color: var(--secondary);
}