.description-div{
    width: 400px;
    height: 400px; 
    margin: auto;
    outline: 10px solid rgb(171, 171, 171);
    position: relative;
}
.description-div .recipe-description{
    width: 100%;
    height: 100%;
    border: none;
}
.Add ,.Reset{
    width: 68px;
    color: white;
    border: none;
    border-radius: 7px;
    position:absolute;
    cursor: pointer;
}
.Reset{
    background-color: rgb(251, 4, 144);
    left: 234px;
    top: 412px;
}
.Add{
    background-color: rgb(7, 194, 240);
    left: 125px;
    top: 412px;
}
.Add-Recipe{
    background-color: rgb(48, 48, 48);
    width: fit-content;
    color: white;
    border-radius: 7px;
    margin: 20px auto;

}